.pop-up-menu {
    position: fixed;
    color: var(--light-color);
}
.menu-icon {
    position: fixed; 
    left: 0px;
    top: 0px;
    z-index: 10;
    display: grid;
    align-items: center;
    height: var(--top-space);
}

.menu-content {
    position: fixed; 
    left: 0px;
    top: 0px;
    width: 600px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
