/* For production purpose only */
.game-console {
    color: var(--darkest-color);
    height: 100px;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.overflow {
    height: 80px;
    display: block;
    overflow-y:auto;
}
