/* For production purpose only */
.bts-test{
    background-color: rgb(57, 57, 57);
    color: #fff;
    height: 80px;
    border-top: 3px solid black;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 10px;
}