.lobby{
    /* width: 100%; */
    /* height: 50vh; */
    /* border: 1px solid black; */
    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    display: grid; */
}


.bord{
    width: 200px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
}
.flex-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
p{
    margin: 4px;
}