h2 {
    font-size:70px;
    margin: 0;
    color: var(--darkest-color);
}
.head {
    background-color: var(--back-color);
    border-bottom: 1px solid var(--darkest-color);
    width: 100vw;
    height: var(--top-space);
    position: fixed;
    top: 0;
}