.head {
    font-size: 4rem;
    color: var(--darkest-color);
    background-color: var(--back-color);
    border-bottom: 1px solid var(--darkest-color);
    width: 100vw;
    height: var(--header-height);
}