.pop-up-menu {
    position: fixed;
}
.menu-icon {
    position: fixed; 
    left: 0px;
    top: 0px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 36px;
    height: 18px;
    background-color: black;
    z-index: 10;
    color: white;
}

.menu-content {
    position: fixed; 
    left: 0px;
    top: 0px;
    width: 600px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
