.menu-tab{
    width: 50%;
    height: 50vh;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.input {
    display: block;
}
.grid-double{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bord{
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 0 10px;
}