:root {
  --back-color-1: #4895e2;
  --back-color-2: #cedef0;
  --black: #000;

  --lightes-color: rgb(194, 201, 249);
  --light-color: rgb(152, 166, 255);
  --medium-color: rgb(29, 33, 239);
  --dark-color: rgb(23, 19, 112);
  --darkest-color: rgb(6, 4, 48);

}
html {
  background-image: linear-gradient( var(--back-color-1), var(--back-color-2));

}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-grade {
  background-image: linear-gradient( var(--back-color-1), var(--back-color-2));
}
.bg-dark-grade {
  background-image: linear-gradient( to left , var(--dark-color),  var(--darkest-color));
}
/* width */
::-webkit-scrollbar {
  width: 15px;
  background: rgba(0, 0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--darkest-color)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--medium-color)
}
hr {
  border: 1px solid var(--darkest-color) 
}